
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;

  background: scroll;
  background-color: #F1FFFA;
}


.Header{
  display: flex;
  position: absolute;
  width: 100%;
  background: rgb(147,222,238);
  background: linear-gradient(90deg, rgba(147,222,238,1) 35%, rgba(186,227,212,1) 70%);
  font-family: 'Righteous', "Arial", sans-serif;
  color: black;
  height: 80px;
  font-size: 30px;
  align-items: center;
  padding-left: 30px;
}

.Header img{
  display: flex;
  position: fixed;
  width: 70px;
  height: 70px;
  top: 5px;
  border-radius: 100px;
  right: 60px;
}

.Header button{
  position: absolute;
  margin-left: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-size: 30px;
  line-height: 0px;
  color: black;
  border: none;
  background-color: rgba(147,222,238,1); 
  bottom: 0px;
  top: 0px;
  margin-top: 0px;
  cursor: pointer;
  }

.Header search-container {
  display: flex;
  position: absolute;
  width: 672px;
  height: 32px;
  float: center;
}

.Header .search-container input[type=text] {
  padding: 7px;
  margin-top: 0px;
  width: 32%;
  font-size: 17px;
  border: none;
  margin-left: 30%;
  display: flex;
  display: flex;
  top: 25px;
  position: fixed;
  border-radius: 25px;
}

.Header .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  margin-right: 0px;
  margin-bottom: 8px;
  position: fixed;
  display: flex;
  height: fit-content;
  margin-left: 63%;
  margin-top: 27px;
  background: #b4e2d8;
  border-radius: 100%;
  
}


.Header .search-container .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 17px;
  height: 22px;
}

.Header .dropdown-item{
  background: #BAE3D4;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}
